#logout {
  position: absolute;
  top: 20px; /* Adjust to vertically center */
  right: 20px; /* Distance from the right edge */
}

#logout button {
  background: #1E8449;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

#logout button:hover {
  background: #134013;
}